body {
    position: relative;
    width: auto;
    height: auto;
    background-color: #82148C;
}

.rectangle-atas {
    position: absolute;
    width: 700px;
    height: 600px;
    left: -500px;
    top: -390px;
    background-color: rgba(0, 0, 0, 0.2);
    transform: rotate(10.85deg);
}

.rectangle-bawah {
    box-sizing:border-box; 
    position: fixed;
    width: 700px;
    height: 600px;
    left: 980px;
    top: 500px;
    background-color: rgba(0, 0, 0, 0.2);
    transform: rotate(10.85deg);
}

.polygon-atas {
    position: absolute;
    width: 220px;
    height: 250px;
    left: 710px;
    top: 150px;
    background: rgba(0, 0, 0, 0.2);
    transform: rotate(-148.33deg);
}

.polygon-bawah {
    box-sizing:border-box; 
    position: fixed;
    width: 150px;
    height: 120px;
    left: 30px;
    top: 550px;
    background: rgba(0, 0, 0, 0.2);
    transform: rotate(-20.55deg);
}

.login-form { /* kotak enter game*/
    position: absolute;
    width: 470px;
    height: 450px;
    left: 410px;
    top: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 50px;

}
.login-form h3 {   /* tulisan enter yourname quiz*/
    font-size:20px;
    font-family: 'Roboto';
    font-style: normal;
    color: rgb(10, 10, 10);
    margin: 20px 170px;
    display: flex;

}

.btn { /* button masuk*/
    font-size:25px;
    position: absolute;
    width: 330px;
    height: 50px;
    left: 75px;
    top: 370px;
    background: #FFFFFF;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    border-radius: 15px;

}

.login-form h1 {   /* tulisan name dan code*/
    font-size:25px;
    font-family: 'Roboto';
    font-style: normal;
    color: rgb(10, 10, 10);
    margin: 15px 20px;
    display: flex;
}
